.mamabear-docs {
  /* --fd-primary: var(--mama-hot-pink);
  --fd-ring: var(--mama-hot-pink);
  --fd-accent: var(--mama-cream);
  --fd-accent-foreground: var(--mama-brown); */
  background-color: hsl(var(--fd-background) / 1);
  color: hsl(var(--fd-foreground) / 1);
  min-height: 100vh;
}
/* 
.dark .mamabear-docs {
  --fd-primary: #f08cac;
  --fd-ring: #f08cac;
  --fd-accent: #3b2924;
  --fd-accent-foreground: #fff3ed;
} */
